<!DOCTYPE html>
<html lang="zh-TW">
<!-- saved from url=(0014)about:internet -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>@ViewBag.Title:@Resources.Res.System_FrontName</title>
    <script src="~/Scripts/cdn/BrowerInfo.js"></script>
    <script>
        var gb_approot = '@Url.Content("~")';
    </script>
    <!--[if lt IE 9]><script src="//ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script><![endif]-->
    <link href="~/Content/css/grid.css" rel="stylesheet">
    <link href="~/Content/css/swiper.min.css" rel="stylesheet">
    @if (ViewBag.IsFirstPage)
    {
        <link href="~/Content/css/index.css" rel="stylesheet">
    }
    else
    {
        <link href="~/Content/css/page.css" rel="stylesheet">
    }
    @RenderSection("css", false)
</head>

<body class="@ViewBag.BodyClass">

    <div id="wrapper">

        <header id="header">
            <h1 onclick="location.href='@Url.Content("~/index")'" title="回首頁">ATEK JAPAN</h1>
            <button class="menu-trigger">MENU</button>
            <nav id="menu">
                <a href="~/Products">PRODUCTS</a>
                <a href="~/AboutUs">ABOUT US</a>
                <a href="~/Support">SUPPORT</a>
                <a href="~/News">NEWS</a>
                <a href="~/ContactUs">CONTACT</a>
            </nav>
            <div class="dropdown">
                <button class="dropbtn">Language</button>
                <nav class="dropdown-content">
                    <a href="@Url.Action("SetLanguage")?L=en-US&A=index">English</a>
                    <a href="@Url.Action("SetLanguage")?L=ja-JP&A=index">日本語</a>
                </nav>
            </div>
        </header><!-- header //-->

        @if (ViewBag.IsFirstPage)
        {
            @RenderBody()
        }
        else
        {
            <main id="main">
                <form action="" class="col-2 col-sm-12 input-group search">
                    <input type="Search" placeholder="SEARCH...">
                    <button class="input-group-btn">Search</button>
                </form>

                <ul class="breadcrumb">
                    <li><a href="~/index">HOME</a></li>
                    @RenderSection("breadCrumb", required: false)
                    <li>@ViewBag.Target</li> @* 當前頁名稱 *@
                </ul>

                @RenderBody()

            </main>
        }

    </div><!-- wrapper //-->

    <a href="#header" class="goTop scroll">TOP</a>

    <footer id="footer">
        <div class="wrap">
            <section class="contact col-10">
                <ul class="list-unstyled col-5">
                    <li><em>TEL</em>+81-43-312-3738</li>
                    <li><em>FAX</em>+81-43-312-3738</li>
                </ul>
                <ul class="list-unstyled col-7">
                    <li>Atek JAPAN | high quality LED power supply</li>
                    <li>Address: Kakura Bill #403 1-3-3, Omote-Cho Sakura-Shi, 285-0811 Chiba, JAPAN </li>
                    <li>E-mail: <a class="hover-underline" href="mailto:lingling@atek-japan.com">lingling@atek-japan.com</a></li>
                </ul>
            </section>
            <!-- <nav class="club">
                <a href="">Twitter</a>
                <a href="">FaceBook</a>
                <a href="">YouTube</a>
            </nav> -->
            <div class="copyright">Atek JAPAN &copy; 2016</div>
        </div>
    </footer><!-- footer -->

    <script src="//code.jquery.com/jquery-latest.min.js"></script>
    <script src="~/Content/js/swiper/swiper.min.js"></script>
    <script src="~/Content/js/common.js"></script>
    @RenderSection("Scripts", required: false)
    <script src="~/Scripts/GoogleAnalytics.js"></script>
</body>
</html>